@model IEnumerable<Client>

<h2>Liste des clients</h2>
<a asp-action="Create">Ajouter un client</a>

<table>
    <tr>
        <th>Matricule</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Nb Numéros</th>
        <th>Action</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Matricule</td>
            <td>@c.Nom</td>
            <td>@c.Prenom</td>
            <td>@c.Telephones?.Count</td>
            <td><a asp-action="Details" asp-route-id="@c.Id">Voir</a></td>
        </tr>
    }
</table>
